{% extends "base.html" %}
{% load static %}
{% block title%}{{blocksuper}} - Atletas {% endblock %}

{% block content %} 

<h1 class="text-center mt-3 mb-2" style="color: rgb(17, 49, 96);"><strong>Atletas</strong></h1>

{% for atleta in lista_jogadoras %}

<div class="container">
    <div class="card mb-5" style="background-color: rgb(17, 49, 96);">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{% static atleta.foto %}" class="img-fluid rounded-start" alt="{{ atleta.nome }}">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item h1 bg-transparent text-white">{{atleta.nome}}</li>
                        <li class="list-group-item h4 bg-transparent text-white"> Idade: {{atleta.idade}}</li>
                        <li class="list-group-item h4 bg-transparent text-white">Local de nascimento: {{atleta.local_nascimento}}</li>
                        <li class="list-group-item h4 bg-transparent text-white">Posição: {{atleta.posicao}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}