{% extends "base.html" %}
{% load static %}
{% block title%}{{blocksuper}} - Atletas {% endblock %}

{% block content %} 
<div class="container">
    <div class="card mb-3" style="width: 100%;">
        <div class="row g-0">
        <div class="col-md-4">
            <img src="{% static 'imgs/thaisa.jpg' %}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item h3">Thaisa Daher</li>
                  <li class="list-group-item h4">Minas tenis club</li>
                  <li class="list-group-item h4">A third item</li>
                </ul>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}