{% extends "base.html" %}
{% load static %}
{% block title%}{{blocksuper}} - Atletas {% endblock %}

{% block content %} 

<h1 class="text-center mt-3 mb-2" style="color: rgb(17, 49, 96);"><b>Atletas</b></h1>

<div class="container c85 d-flex flex-wrap justify-content-evenly">

{% for atleta in atletas %}

  <div class="card m-3" style="width: 23rem;">
      <img src="{{atleta.foto.url}}" class="card-img-top" alt="{{atleta.nome}}">
      <div class="card-body">
        <h3 class="card-title" style="color: rgb(17, 49, 96);">{{atleta.nome}}</h3>
        <p class="card-text">{{atleta.local_nasc}}</p>
        <p class="card-text" style="color: rgb(17, 49, 96);">{{atleta.posicao}}</p>
      </div>
  </div>

{% endfor %}

</div>


{% endblock %}